.settingsPage {
    position: relative;
    width: 100%;
    height: 100%;
}

.dataWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blockWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blockTitle {
    font-size: 27px;
    line-height: normal;
    margin-bottom: 15px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;

    @include only-mobile {
        gap: 0;
        align-items: start;
        flex-direction: column;
    }
}

.fieldName {
    font: var(--font-main-text);
    min-width: 180px;
    font-size: 18px;
    font-weight: 900;
}

.fieldValue {
    font: var(--font-main-text);
}