.button {
  position: relative;
  cursor: pointer;
  font: var(--font-main-text);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--color-primary);
  font-weight: 500;
}

%base {
  height: 45px;
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.primary {
  @extend %base;

  background: var(--color-primary);
  border: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-middle-blue);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
  }
}

.primaryDark {
  @extend %base;

  background: var(--color-primary-dark);
  border: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-middle-grey);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
  }
}

.outline {
  @extend %base;

  background: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
    border-color: var(--color-disabled-button);
  }
}

.outlineDark {
  @extend %base;

  background: none;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
    border-color: var(--color-disabled-button);
  }
}

.loading .text {
  visibility: hidden;
  opacity: 0;
}

.loading::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  inset: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: var(--color-white);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}