.button {
  position: relative;
  cursor: pointer;
  font: var(--font-main-text);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.text {
  white-space: nowrap;
  display: flex;
  align-items: end;
  justify-content: center;
}

.iconTheme {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #f3f3f3;
  border: none;
  color: var(--color-primary);

  &:disabled {
    color: var(--color-disabled-text);
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.iconThemeLight {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--color-white);
  border: none;
  color: var(--color-primary);

  &:disabled {
    color: var(--color-disabled-text);
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--color-primary);
  font-weight: 500;
}

%base {
  height: 45px;
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.primary {
  @extend %base;

  background: var(--color-primary);
  border: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-middle-blue);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
  }
}

.primaryDark {
  @extend %base;

  background: var(--color-primary-dark);
  border: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-middle-grey);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
  }
}

.outline {
  @extend %base;

  background: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
    border-color: var(--color-disabled-button);
  }
}

.outlineDark {
  @extend %base;

  background: none;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
  }

  &:disabled {
    color: var(--color-disabled-text);
    background: var(--color-disabled-button);
    border-color: var(--color-disabled-button);
  }
}

.grey {
  @extend %base;

  padding: 10px;
  height: auto;
  border: none;
  border-radius: 10px;
  color: var(--color-primary-dark);
  background-color: var(--color-light-grey2);

  & .text {
    line-height: normal;
    font-size: 14px;
  }

  &.active {
    background-color: var(--color-light-blue);
    border: 0.5px solid var(--color-primary)
  }
}

.loading .text {
  visibility: hidden;
  opacity: 0;
}

.loading::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  inset: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: var(--color-white);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}