.pageContainer {
    width: calc(100vw - var(--sidebar-width));
    height: 100%;
    background-color: var(--color-white);
    min-height: calc(100vh - var(--navbar-height));
    border-radius: 20px;
    box-shadow: 0 0 4px rgba($color: #000, $alpha: 10%);
    padding: 30px;

    @include only-mobile {
        box-shadow: none;
        width: 100vw;
        border-radius: none;
    }

    @include only-tablet {
        width: 100vw;
    }
}