.filterReports {
    width: 100%;
    display: flex;
    background-color: var(--color-light-grey);
    border-radius: 20px;
    padding: 20px;
    gap: 20px;

    @include only-mobile {
        flex-direction: column;
    }
}