.savingsPage {
    position: relative;
    width: 100%;
    height: 100%;
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.title {
    font-size: var(--font-size-title-l);
}