@import 'reset';
@import 'variables/mixins';
@import 'variables/global';

body {
  font: var(--font-title-xl);
}

.app {
  min-height: 100vh;
}

.toast {
  font: var(--font-main-text);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  padding: 20px;
}

.tippy-box {
  max-width: none !important;
  max-height: 250px;
  overflow-y: scroll;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 30%);
  border-radius: 10px;
}