.addBudgetModal {
    width: 100%;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.button {
    width: 50%;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
}

.controlsWrapper {
    display: flex;
    width: 100%;
    gap: 10px;
}

.periodWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.labelPeriod {
    font-family: var(--font-family-title);
    font-size: 18px;
    line-height: normal;
}

.buttonPeriod {
    width: 100%;
}