.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label {
    font: var(--font-small-text);
    color: var(--color-primary-dark);
    font-weight: 300;
}

.selectWrapper {
    display: flex;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    background: none;
    outline: none;
    transition: border-color 0.2s;
    font: var(--font-main-text);
    color: var(--color-primary-dark);
  
  
    &:hover {
      border-color: var(--color-middle-blue);
    }
  
    &:focus-within {
      border-color: var(--color-primary);
    }

    &.clear {
      height: auto;
      border: none;
    }
}

.select {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: none;
  outline: none;
  font: var(--font-main-text);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::placeholder {
    color: var(--color-placeholder);
  }
}

.clear .select {
  width: fit-content;
  justify-content: flex-start;
  padding: 0;
  gap: 5px;
}

.selectTriangle {
  width: 15px;
  height: 15px;
  color: var(--color-border);
  rotate: 180deg;
  transition: rotate 0.3s ease;

  &.open {
    rotate: 0deg;
  }
}

.options {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-white);
}

.option {
  font: var(--font-main-text);
  padding: 8px 20px;
  background-color: var(--color-white);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--color-light-blue);
  }
}

.clear.option {
  padding: 5px;
  text-align: center;
}

.icon {
  margin-right: 8px;
}

.content {
  display: flex;
  align-items: center;
}