.unauthorizedLayout {
  height: 100vh;
  padding: 40px 30px;
}

.layoutNavbar {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.layoutButton {
  min-width: 172px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 165px);
}

.background {
  position: absolute;
  z-index: -1;
  width: calc(100vw - 60px);
  height: calc(100vh - 165px);
  border-radius: 20px;
}

.backgroundFilter {
  position: absolute;
  z-index: -1;
  width: calc(100vw - 60px);
  height: calc(100vh - 165px);
  border-radius: 20px;
  background: rgba(255 255 255 / 23%);
}

.pageWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doneIcon {
  color: var(--color-green);
}

.coinIcon {
  color: var(--color-primary);
}

.financeIcon {
  color: #f15a26;
}

.calendarIcon {
  color: #ec93fb;
}

.badgeText {
  font: var(--font-main-text);
  font-weight: 300;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 40px;
}

.badgeDone {
  margin-left: 30px;
  position: relative;
  left: 100px;
}

.badgeCoin {
  position: relative;
  right: 100px;
  transform: rotate(-25deg);
}

.badgeFinance {
  position: relative;
  left: 100px;
  transform: rotate(25deg);
}

.badgeCalendar {
  position: relative;
  right: 100px;
  transform: rotate(-25deg);
}
