.unauthorizedLayout {
  height: 100vh;
  padding: 40px 30px;
}

.layoutNavbar {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.layoutButton {
  width: 172px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 165px);
}

.background {
  position: absolute;
  z-index: -1;
  width: calc(100vw - 60px);
  height: calc(100vh - 165px);
  border-radius: 20px;
}

.backgroundFilter {
  position: absolute;
  z-index: -1;
  width: calc(100vw - 60px);
  height: calc(100vh - 165px);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.23);
}

.pageWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doneIcon {
  color: var(--color-green);
}

.coinIcon {
  color: var(--color-primary);
}

.badgeText {
  font: var(--font-main-text);
  font-weight: 300;
}
