.sidebarItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    font: var(--font-main-text);
    font-weight: 800;
    color: var(--color-primary-dark);
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s ease;

    @include only-laptop {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    @include max-tablet {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    &:hover,
    &:active {
        background-color: #EFEFEF;

        @include max-tablet {
            background-color: var(--color-light-blue);
        }
    }
}

.active {
    background-color: var(--color-light-blue);

    &:hover {
        background-color: var(--color-light-blue);
    }
}